# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
generated_plugin_registrant.dart

# IDEs
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/app/release/
android/local.properties
android/key.properties

# iOS/macOS
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Pods/
macos/Pods/

# Web
web/generated_plugin_registrant.dart

# Obsolete
*.lock
*.log

# Binaries
*.apk
*.ipa

# VS Code workspace file
*.code-workspace